.sidebar {
    background-color: #FFFACD; 
    padding: 20px;
    border-radius: 15px; 
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1); 
    width: 300px;
    height: auto; 
}

.sidebar h2 {
    font-size: 1.6em; 
    color: #FFC0CB; 
    margin-bottom: 20px; 
}

.sidebar ul {
    list-style-type: none;
    padding: 0; 
    margin-bottom: 20px;
}

.sidebar ul li {
    margin-bottom: 15px; 
}

.sidebar ul li a {
    text-decoration: none; 
    color: #C1DAB5; 
    font-size: 1.2em; 
    transition: color 0.3s, text-shadow 0.3s; 
}

.sidebar ul li a:hover {
    color: #FFC0CB; 
    text-shadow: 1px 1px 2px rgba(255, 192, 203, 0.5); 
}

.sidebar input[type="text"] {
    width: 100%;
    padding: 12px; 
    margin-top: 15px;
    border: 1px solid #E6E6FA;
    border-radius: 5px;
    font-size: 1em;
}

.sidebar p {
    margin-top: 20px; 
    color: #555; 
    font-size: 1.1em; 
}